<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="hero.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Hero component </title>
</head>
<body>
        <!-- hero section -->
        <section class="hero">
            <div class="hero-content">
                <div class="hero-text">
                    <h2>Cloud Hosting for Pros</h2>
                    <small>Deploy your website in less then 60 seconds</small>
                    <button>Get started</button>
                </div>
                <div>
                    <img src="/img/banner.png" alt="banner">
                </div>
            </div>
        </section>
    
    
    <script src="hero.js"></script>
</body>
</html>