<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="search.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>search component </title>
</head>
<body>
     <!-- search section -->
     <section class="search">
        <div class="searchContent">
            <h2>the best webhosting starting at per mounth</h2>
            <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, ipsam eaque amet quisquam quasi
                atque.</small>
            <div class="search-container">
                <input type="text" placeholder="Enter your domain name here ...">
                <button type="submit">
                    <i class='bx bx-search-alt-2'></i>
                    <span>
                        search
                    </span>
                </button>
            </div>
            <ul class="domain" id="domainList">
                <a href="#" id="moreLink">More.</a>
              </ul>
        </div>
    </section>
    <script src="search.js"></script>
</body>
</html>