<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="service.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>service component </title>
</head>
<body>
    <!-- service section -->

    <section class="card-section">
        <div class="tittle">
            <h2>Host On The Cloud to Keep Growing</h2>
            <small>New to hosting? No worries! Our guided onboarding process takes you through each step, ensuring a smooth setup.</small>
        </div>
        <!-- dunamic card from js -->
        <div id="dynamicSectionsContainer"></div>
    </section>
    <script src="service.js"></script>
</body>
</html>