<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Control.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Control component </title>
</head>
<body>
   <!-- Control pannel section-------------------------------------- -->
   <section class="pannel">
    <h2 class="tittle">User-Friendly Control Panel</h2>
    <div class="control">
        <div class="pannelimg">
            <img src="/img/ipad.png" alt="Control pannel image">
        </div>
        <ul class="badge" id="badgeList">
        </ul>
    </div>
</section>

    <script src="Control.js"></script>
</body>
</html>