<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="review.css">
    <title> customer review component</title>
</head>
<body>

<section class="customer">
    <h2 class="tittle">What our Customer are Saying</h2>
    <p class="subtittle"> Hear from those who chose Hostify. Read what our satisfied clients say about us.</p>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="reviewimg">
                <img src="/img/testimonial.jpg" alt="Control pannel image">
            </div>
            <ul class="badge">
                <aside class="badgeContent">
                    <img src="/img/icone/quoto.svg" alt="snap.svg">
                </aside>
                <div class="badgeText">
                    <p>"I've been using Hostify for my website hosting needs, and I couldn't be happier with their service. The reliability and speed of their servers are unmatched. My website loads incredibly fast, which has significantly improved the user experience for my visitors."</p>
                    <div class="person">
                        <img src="/img/icone/line.svg" alt="line.svg">
                        <div class="name">
                            <h2>Jhone Lumeo</h2>
                            <p>Mosh Company CEO</p>
                        </div>
                    </div>
                </div>
            </ul>
          </div>
          <div class="swiper-slide">
            <div class="reviewimg">
                <img src="/img/testimonial.jpg" alt="Control pannel image">
            </div>
            <ul class="badge">
                <aside class="badgeContent">
                    <img src="/img/icone/quoto.svg" alt="snap.svg">
                </aside>
                <div class="badgeText">
                    <p>"I've been using Hostify for my website hosting needs, and I couldn't be happier with their service. The reliability and speed of their servers are unmatched. My website loads incredibly fast, which has significantly improved the user experience for my visitors."</p>
                    <div class="person">
                        <img src="/img/icone/line.svg" alt="line.svg">
                        <div class="name">
                            <h2>Jhone Lumeo</h2>
                            <p>Mosh Company CEO</p>
                        </div>
                    </div>
                </div>
            </ul>
          </div>
          <div class="swiper-slide">
            <div class="reviewimg">
                <img src="/img/testimonial.jpg" alt="Control pannel image">
            </div>
            <ul class="badge">
                <aside class="badgeContent">
                    <img src="/img/icone/quoto.svg" alt="snap.svg">
                </aside>
                <div class="badgeText">
                    <p>"I've been using Hostify for my website hosting needs, and I couldn't be happier with their service. The reliability and speed of their servers are unmatched. My website loads incredibly fast, which has significantly improved the user experience for my visitors."</p>
                    <div class="person">
                        <img src="/img/icone/line.svg" alt="line.svg">
                        <div class="name">
                            <h2>Jhone Lumeo</h2>
                            <p>Mosh Company CEO</p>
                        </div>
                    </div>
                </div>
            </ul>
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
    
    
</section>


  
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="review.js"></script>
</body>
</html>
